{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<form action="/login" method="post">
        <div class="form-group">
           <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" value="{{ username }}">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password" value="{{ password }}">
        </div>
        <button class="btn btn-success" type="submit">Log In</button>
    </form>
    &nbsp;
    <p>or <a href="/register">Register</a></p>
    &nbsp;
    <button> <a href="/getmail">Forgot Password</a></button>
    &nbsp;
    {% if errorMsg %}
    <div class="container">
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            {{ errorMsg }}
        </div>
    </div>
    {% endif %}
{% endblock %}